@import '../../styles/mixins';

.home-news {

  .news-container{
    display: inline-block;
    .news-list{
      display: inline-block;
      li{
        margin:10px;
        display: flex;
        img{
          width: 15vw;
          height: 15vh;
        }
        .title-desc{

          margin: 5px;
          display: inline-block;
          .link{
            text-decoration: none;
            h1{
              display: block;
              font-weight: 600;
              font-style: italic;
              margin: 2px;
            }
          }

          p{
            max-height: 65px;
            display: inline-block;
            overflow: hidden;

          }
        }
      }

    }
  }
  .page-numbers{
    list-style: none;
    display: flex;
    li{
      padding: 6px;
      margin: 3px;
      border:1px solid gray;
      border-radius: 10px;
      cursor: pointer;
      background-color: #ff1744;
      color: #ffffff;
      font-weight: 600;
    }
  }
}
