@import '../../styles/mixins';

.admin-product-list {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    justify-content: center;
    align-items: center;
    .image{

      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}
